.projectSection {
  height: 1400px;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

#projectSection1 {
  height: 1500px;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    @media (max-width: 939px) {
      height: 3045px;
  }
}

#card1 {
  @media (max-width: 1409px) {
    margin-bottom: -100px;
  }
  @media (max-width: 939px) {

  }
}
#card2 {
  @media (max-width: 1409px) {
    margin-bottom: -100px;
  }
  @media (max-width: 939px) {
    margin-top: 120px;
  }
}
#card3 {
  @media (max-width: 1409px) {
    margin-top: -100px;
  }
  @media (max-width: 939px) {
    margin-top: 120px;
  }
}
.projectCard {
  height: 650px;
  width: 450px;
  border: 2px solid silver;
  border-radius: 10px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  margin-top: -100px;
  margin-right: 20px;
  background-color: whitesmoke;
  @media (max-width: 939px) {
    height: 1083px;
    width: 750px;
  }

}

.projectCardImage {
  height: 60%;
  width: 95%;
  background-image: url("../img/main.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2.5%;
  border-radius: 10px;
  margin: 2.5% auto;
}

.cardText {
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  height: 24%;
  width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
    h1{
      padding-bottom: 4%;
      font-size: 16pt;
      letter-spacing: .5px;
    }
    h2 {
      padding-bottom: 1%;
      font-size: 12pt;
      letter-spacing: 1px;
    }
    hr {
      width: 55%;
    }
}
