#projectsSection {
  height: 900px;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.projectCard {
  height: 70%;
  width: 35%;
  border: 2px solid silver;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -100px;

}

.projectCardImage {
  height: 60%;
  width: 95%;
  background-image: url("../img/main.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2.5%;
  border-radius: 10px;
}

.cardText {
  padding-top: 5%;
  height: 40%;
  width: 80%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
    h1{
      text-align: center;
      padding-bottom: 2%;
      font-size: 16pt;
    }
    hr {
      width: 55%;
    }
}



// #section1 {
//   background-color: silver;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   position: relative;
//
// }
//
// #section1Project {
//   background-color: whitesmoke;
//   width: 45%;
//   height:85%;
//   margin-top: 40px;
//   border-radius: 10px;
// }
//
// #section2 {
//   background-color: #8BA8B7;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   position: relative;
// }
//
// #section2Project {
//   background-color: whitesmoke;
//   width: 90%;
//   height:85%;
//   margin-top: 40px;
//   border-radius: 10px;
// }
//
// #section3 {
//   background-color: #A6A6A6;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   position: relative;
// }
//
// #section3Project {
//   background-color: whitesmoke;
//   width: 90%;
//   height:85%;
//   margin-top: 40px;
//   border-radius: 10px;
// }
// #section4 {
//   background-color: #4570E6;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   position: relative;
// }
//
// #section4Project {
//   background-color: whitesmoke;
//   width: 90%;
//   height:85%;
//   margin-top: 40px;
//   border-radius: 10px;
// }
//
// .section {
//   height: 600px;
//   width: 100vw;
// }
